In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
import re

from geopy.geocoders import Nominatim

In [2]:
data = pd.read_csv('_src\AccidentesAviones.csv')

In [3]:
# primer vistazo
data.sample(10)

,Unnamed: 0,fecha,HORA declarada,Ruta,OperadOR,flight_no,route,ac_type,registration,cn_ln,all_aboard,PASAJEROS A BORDO,crew_aboard,cantidad de fallecidos,passenger_fatalities,crew_fatalities,ground,summary
2827,2827,"November 18, 1975",?,"Caoba, Guatemala",Aviateca,?,Uaxactun - Flores,Douglas DC-3,TG-AGA,6142,22,18,4,15,11,4,0,Crashed into mountainous jungle in poor visibi...
4103,4103,"August 07, 1997",1236,"Miami, Florida",Fine Air,101A,Miami - Santo Domingo,McDonnell Douglas DC-8-61F,N27UA,45942/349,4,1,3,4,1,3,1,Immediately after taking off the plane went in...
1554,1554,"January 12, 1956",0340,"Frederick Henry Bay, Australia",Ansett ANA,?,Melbourne - Hobart,Douglas C-47,VH-BZA,4651,2,0,2,1,0,1,0,The cargo plane flew into the water upon appro...
4477,4477,"November 08, 2003",1026,"200 miles NE of Derby, Australia",Heliwork WA Pty Ltd. - Air Taxi,?,?,Robertson R44 helicopter,VH-YKL,0170,4,3,1,4,3,1,0,The helicopter crashed in the remote outback a...
1951,1951,"March 27, 1962",1745,"Santiago de Cuba, Cuba",Cubana de Aviacion,?,Santiago de Cuba - Havana,Ilyushin IL-14,CU-T819,?,22,18,4,22,18,4,0,Crashed shortly after takeoff into the sea 1 m...
2928,2928,"September 04, 1977",?,"Near Cuenca, Ecuador",Servicios Aereos Nacionales Airways,?,Guayaquil - Cuenca,Vickers Viscount 764D,HC-BCL,185,33,29,4,33,29,4,0,Struck a mountain peak in the Cajas mountains ...
2236,2236,"August 11, 1966",?,"Near Sibiu, Romania",Tarom,?,Bra?ov - Constanta,Ilyushin IL-14,YR-TAN,18428005,24,20,4,24,20,4,0,Crashed on a flight while en route.
310,310,"April 03, 1933",?,"Hemkenrode, Germany",Deutsche Lufthansa,?,?,Junkers F-13,D-534,?,2,1,1,1,1,0,0,Crashed under unknown circumstances.
4378,4378,"February 15, 2002",0608,"Monrovia, Liberia",Tiramavia,?,?,Antonov 12BP,ER-ADL,4342610,10,3,7,1,0,1,0,The cargo plane crashed while attempting to ma...
3607,3607,"November 25, 1989",0748,"Seoul, South Korea",Korean Airlines,?,Seou - Ulsan,Fokker F-28 Fellowship 4000,HL-7255,11223,52,46,6,1,1,0,0,The plane crashed during takeoff after losing ...

In [4]:
# veo que está completo, pero todos los campos como 'object', no hay datos numéricos 
# excepto la 1er columna que es un indice repetido
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5008 entries, 0 to 5007
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              5008 non-null   int64
 1   fecha                   5008 non-null   object
 2   HORA declarada          5008 non-null   object
 3   Ruta                    5008 non-null   object
 4   OperadOR                5008 non-null   object
 5   flight_no               5008 non-null   object
 6   route                   5008 non-null   object
 7   ac_type                 5008 non-null   object
 8   registration            5008 non-null   object
 9   cn_ln                   5008 non-null   object
 10  all_aboard              5008 non-null   object
 11  PASAJEROS A BORDO       5008 non-null   object
 12  crew_aboard             5008 non-null   object
 13  cantidad de fallecidos  5008 non-null   object
 14  passenger_fatalities    5008 non-null   object
 15  crew_fatalities         5008 non-null   object
 16  ground                  5008 non-null   object
 17  summary                 5008 non-null   object
dtypes: int64(1), object(17)
memory usage: 704.4+ KB

Columnas a eliminar:

In [5]:
# elimino columna indice duplicado
data.drop('Unnamed: 0', axis=1, inplace=True)

In [6]:
# quito el horario, no lo voy a usar para el análisis
data.drop('HORA declarada', axis=1, inplace=True)

In [7]:
# quito el tipo de fuselaje
data.drop('cn_ln', axis=1, inplace=True)

Recorro columnas:

General (aplicar a todas las columnas):

In [8]:
# veo que los faltantes estan como el string: '?'
# reemplazo por NaN
data.replace('?', 'NaN', inplace=True)

Columna Fecha

In [9]:
 #convierto la fecha a formato fecha
data['fecha'] = pd.to_datetime(data['fecha'])

In [10]:
data['fecha'].describe()

C:\Users\FedeGP\AppData\Local\Temp\ipykernel_13724\847207859.py:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  data['fecha'].describe()

count                    5008
unique                   4577
top       1988-08-31 00:00:00
freq                        4
first     1908-09-17 00:00:00
last      2021-07-06 00:00:00
Name: fecha, dtype: object

### Columnas numéricas:
- 'all_aboard': humanos a bordo (todos) pasajeros + crew
- 'PASAJEROS A BORDO': pasajeros a bordo
- 'crew_aboard': tripulacion a bordo
- 'cantidad de fallecidos': cant de fallecidos total (totales) pasajeros + crew
- 'passenger_fatalities': pasajeros fallecidos
- 'crew_fatalities': tripulacion fallecidos
- 'ground': muertos en tierra a causa del accidente

In [11]:
# las cambio a tipo de dato numérico
data['all_aboard'] = data['all_aboard'].astype(float)
data['PASAJEROS A BORDO'] = data['PASAJEROS A BORDO'].astype(float)
data['crew_aboard']=data['crew_aboard'].astype(float)
data['cantidad de fallecidos']=data['cantidad de fallecidos'].astype(float)
data['passenger_fatalities']=data['passenger_fatalities'].astype(float)
data['crew_fatalities']=data['crew_fatalities'].astype(float)
data['ground']=data['ground'].astype(float)

columna 'cantidad de fallecidos'

In [12]:
# elimino los registros que no tienen ningun dato de muerto, ya que no serviran para nada en el análisis
# no tienen los datos de las otras columnas tampoco
data.drop(data[data['cantidad de fallecidos'].isnull()].index, inplace=True)

Columna: 'all_aboard'

In [13]:
# genero columna auxiliar con el máximo entre: all_aboard, todos los fallecidos, todos los a bordo sumando (pass+crew) y todos los fallecidos sumando (pass+crew)
# teniendo en cuenta los NaN como 0
data['pas+crew']=np.nansum(data[['PASAJEROS A BORDO','crew_aboard']], axis=1)
data['pass+crew_fat']= np.nansum(data[['passenger_fatalities','crew_fatalities']], axis=1)
data['maximo'] = np.nanmax(
    data[['all_aboard','cantidad de fallecidos','pas+crew','pass+crew_fat']], axis=1)

# Ese maximo sera mi nuevo all_board
data['all_aboard']=data['maximo']
# elimino las columnas auxiliares
data.drop(['maximo','pas+crew','pass+crew_fat'], axis=1, inplace=True)

Columna: 'crew_aboard'

In [14]:
#obj: llenar nulos de crew_aboard con el valor mínimo entre la media de crew_aboard, y el all_aboard
# creo col auxiliar con el valores de la media de crew_aboard.
data['aux']= round(data['crew_aboard'].mean(),0)
# creo col auxiliar con el minimo entre la anterior y all_aboard
data['minimo']=np.min(data[['all_aboard','aux']], axis=1)
# imputo a faltantes
data['crew_aboard'].fillna(data['minimo'], inplace=True)

Columna 'PASAJEROS A BORDO'

In [15]:
# imputo a los faltantes la diferencia entre all_aboard y crew_aboard
data['PASAJEROS A BORDO']= data['all_aboard']-data['crew_aboard']
# borro las col auxiliares
data.drop(['aux','minimo'], axis=1, inplace=True)

Columna: 'passenger_fatalities' y 'crew_fatalities'

In [16]:
# obj: asignar 'cantidad de fallecidos' a esas columnas repartiendo proporcionalmente a cómo estaba abordado el avion según
# ('crew_aboard' y 'pasajeros a bordo')

# estimo cantidad de fallecidos de la crew, en una nueva columna
data['estim_fat_crew']=round(data['crew_aboard']/data['all_aboard']*data['cantidad de fallecidos'],0)
#lleno crew fatalities con el minimo entre la estimacion y la cantidad total de muertos (por si en el redondeo se agrando el numero)
data['crew_fatalities'].fillna(np.min(data[['estim_fat_crew','cantidad de fallecidos']], axis=1), inplace=True)
# agrego columnas auxiliar multiplicandola por -1, para luego efectuar una resta al sumar las columnas
data['neg_crew_fatalities']=data['crew_fatalities']*-1
data['passenger_fatalities'].fillna(np.sum(data[['cantidad de fallecidos','neg_crew_fatalities']], axis=1), inplace=True)

# elimino columnas auxiliares
data.drop(['estim_fat_crew','neg_crew_fatalities'], axis=1, inplace=True)

Columna 'ground'

In [17]:
# En columna ground si no hay dato, imputo 0
data['ground'].fillna(0, inplace=True)

In [18]:
data.describe().T

,count,mean,std,min,25%,50%,75%,max
all_aboard,5000.0,31.1544,45.548259,0.0,7.0,16.0,35.0,644.0
PASAJEROS A BORDO,5000.0,26.6240,43.580428,0.0,3.0,12.0,30.0,614.0
crew_aboard,5000.0,4.5304,3.682144,0.0,2.0,4.0,6.0,83.0
cantidad de fallecidos,5000.0,22.2940,35.000385,0.0,4.0,11.0,25.0,583.0
passenger_fatalities,5000.0,18.7546,33.447453,0.0,1.0,8.0,21.0,560.0
crew_fatalities,5000.0,3.6082,3.123755,0.0,2.0,3.0,5.0,43.0
ground,5000.0,1.7060,55.295550,0.0,0.0,0.0,0.0,2750.0

### Columnas categóricas

In [19]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5000 entries, 0 to 5007
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   fecha                   5000 non-null   datetime64[ns]
 1   Ruta                    5000 non-null   object
 2   OperadOR                5000 non-null   object
 3   flight_no               5000 non-null   object
 4   route                   5000 non-null   object
 5   ac_type                 5000 non-null   object
 6   registration            5000 non-null   object
 7   all_aboard              5000 non-null   float64
 8   PASAJEROS A BORDO       5000 non-null   float64
 9   crew_aboard             5000 non-null   float64
 10  cantidad de fallecidos  5000 non-null   float64
 11  passenger_fatalities    5000 non-null   float64
 12  crew_fatalities         5000 non-null   float64
 13  ground                  5000 non-null   float64
 14  summary                 5000 non-null   object
dtypes: datetime64[ns](1), float64(7), object(7)
memory usage: 625.0+ KB

Columna 'Ruta' (lugar del accidente); y adicionar columnas de country donde ocurrio el accidente y (lat, long)

In [20]:
data['Ruta']

0                      Fort Myer, Virginia
1                  Juvisy-sur-Orge, France
2                Atlantic City, New Jersey
3       Victoria, British Columbia, Canada
4                       Over the North Sea
                       ...
5003                    Near Butte, Alaska
5004                  Near Kaduna, Nigeria
5005            Near Pyin Oo Lwin, Myanmar
5006            Patikul, Sulu, Philippines
5007                        Palana, Russia
Name: Ruta, Length: 5000, dtype: object

In [21]:

# normalizamos Ruta, para poder detectar la ubicación
data['Ruta']=data['Ruta'].apply(lambda x: x.replace('Over the ', ''))
data['Ruta']=data['Ruta'].apply(lambda x: x.replace('Near ',''))
data['Ruta']=data['Ruta'].apply(lambda x: x.replace('Off ',''))
data['Ruta']=data['Ruta'].apply(lambda x: x.replace('North of ',''))
data['Ruta']=data['Ruta'].apply(lambda x: x.replace(' Bay,',','))
data['Ruta']=data['Ruta'].apply(lambda x: x.replace('La Rache, Morocco', 'Larache, Morocco')) #233
data['Ruta']=data['Ruta'].apply(lambda x: x.replace('Territory of New Guinea', 'New Guinea')) #1038
data['Ruta']=data['Ruta'].apply(lambda x: x.replace('Santiago del Estado','Santiago del Estero')) #1225
data['Ruta']=data['Ruta'].apply(lambda x: x.replace('Alvarado, California','Union City, California')) #1382
data['Ruta']=data['Ruta'].apply(lambda x: x.replace('Castell de Fels','Castelldefels')) #1692
data['Ruta']=data['Ruta'].apply(lambda x: x.replace('Santa Maria, California','Santa Barbara, California')) #1791
data['Ruta']=data['Ruta'].apply(lambda x: x.replace('Barnegat City','Barnegat')) #1837
data['Ruta']=data['Ruta'].apply(lambda x: x.replace('300 nm NW of ','')) #3320
data['Ruta']=data['Ruta'].apply(lambda x: x.replace('Berlin, East Germany','Berlin, Germany')) #3412
data['Ruta']=data['Ruta'].apply(lambda x: x.replace('Nasevou Village','Nasevo St')) #4221
data['Ruta']=data['Ruta'].apply(lambda x: x.replace('Ampisibil Village', 'Oksibil')) #4738
data['Ruta']=data['Ruta'].apply(lambda x: x.replace('Pavillon', 'Genesee')) #413
data['Ruta']=data['Ruta'].apply(lambda x: x.replace('Desertores Island Región de Los Lagos', 'Desertores Island, Chile')) #464

'''
Toda esta sección fue un intento de describir con más precisión la ubicación, perpo fue imposible
Excesivamente lento, y totalmente impredecible la búsqueda.
Arroja muchos NaN, a veces encuentra bien, a veces da error.

geolocator = Nominatim(user_agent='hola')
data.loc[:500,'coord_Ruta'] = data.loc[:500,'Ruta'].apply(geolocator.geocode)
data.loc[501:1000,'coord_Ruta'] = data.loc[501:1000,'Ruta'].apply(geolocator.geocode)
data.loc[1001:1500,'coord_Ruta'] = data.loc[1001:1500,'Ruta'].apply(geolocator.geocode)
data.loc[1501:2000,'coord_Ruta'] = data.loc[1501:2000,'Ruta'].apply(geolocator.geocode)
data.loc[2001:2500,'coord_Ruta'] = data.loc[2001:2500,'Ruta'].apply(geolocator.geocode)
data.loc[2501:3000,'coord_Ruta'] = data.loc[2501:3000,'Ruta'].apply(geolocator.geocode)
data.loc[3001:3500,'coord_Ruta'] = data.loc[3001:3500,'Ruta'].apply(geolocator.geocode)
data.loc[3501:4000,'coord_Ruta'] = data.loc[3501:4000,'Ruta'].apply(geolocator.geocode)
data.loc[4001:4500,'coord_Ruta'] = data.loc[4001:4500,'Ruta'].apply(geolocator.geocode)
data.loc[4501:,'coord_Ruta'] = data.loc[4501:,'Ruta'].apply(geolocator.geocode)
'''

"\nToda esta sección fue un intento de describir con más precisión la ubicación, perpo fue imposible\nExcesivamente lento, y totalmente impredecible la búsqueda.\nArroja muchos NaN, a veces encuentra bien, a veces da error.\n\ngeolocator = Nominatim(user_agent='hola')\ndata.loc[:500,'coord_Ruta'] = data.loc[:500,'Ruta'].apply(geolocator.geocode)\ndata.loc[501:1000,'coord_Ruta'] = data.loc[501:1000,'Ruta'].apply(geolocator.geocode)\ndata.loc[1001:1500,'coord_Ruta'] = data.loc[1001:1500,'Ruta'].apply(geolocator.geocode)\ndata.loc[1501:2000,'coord_Ruta'] = data.loc[1501:2000,'Ruta'].apply(geolocator.geocode)\ndata.loc[2001:2500,'coord_Ruta'] = data.loc[2001:2500,'Ruta'].apply(geolocator.geocode)\ndata.loc[2501:3000,'coord_Ruta'] = data.loc[2501:3000,'Ruta'].apply(geolocator.geocode)\ndata.loc[3001:3500,'coord_Ruta'] = data.loc[3001:3500,'Ruta'].apply(geolocator.geocode)\ndata.loc[3501:4000,'coord_Ruta'] = data.loc[3501:4000,'Ruta'].apply(geolocator.geocode)\ndata.loc[4001:4500,'coord_Ruta'] = data.loc[4001:4500,'Ruta'].apply(geolocator.geocode)\ndata.loc[4501:,'coord_Ruta'] = data.loc[4501:,'Ruta'].apply(geolocator.geocode)\n"

In [22]:
data['localizar'] = data['Ruta'].apply(lambda x: x.split(','))
data['localizar'] = data['localizar'].apply(lambda x: x[-1])
data['localizar'] = data['localizar'].apply(lambda x: x.strip())


paises = pd.DataFrame()
paises['localizar'] = data['localizar'].unique()
paises['pais'] = paises['localizar']
paises['pais'] = paises['pais'].apply(lambda x: x.replace('East Sardinia', 'Sardinia, Italy'))
paises['pais'] = paises['pais'].apply(lambda x: x.replace('110 miles West of Ireland', 'Ireland'))
paises['pais'] = paises['pais'].apply(lambda x: x.replace('Unied Kingdom', 'United Kingdom'))
paises['pais'] = paises['pais'].apply(lambda x: x.replace('Californiia', 'California'))
paises['pais'] = paises['pais'].apply(lambda x: x.replace('French West Africa', 'Senegal'))
paises['pais'] = paises['pais'].apply(lambda x: x.replace('U.S. Samoa', 'Samoa'))
paises['pais'] = paises['pais'].apply(lambda x: x.replace('Cailifornia', 'California'))
paises['pais'] = paises['pais'].apply(lambda x: x.replace('Pacific Ocean between Manila and Guam', 'Manila'))
paises['pais'] = paises['pais'].apply(lambda x: x.replace('Atlantic Ocean between N.Y. and Bermuda', 'New York'))
paises['pais'] = paises['pais'].apply(lambda x: x.replace('Coatia', 'Croatia'))
paises['pais'] = paises['pais'].apply(lambda x: x.replace('Australila', 'Australia'))
paises['pais'] = paises['pais'].apply(lambda x: x.replace('Dutch Guyana', 'Suriname'))
paises['pais'] = paises['pais'].apply(lambda x: x.replace('Swden', 'Sweden'))
paises['pais'] = paises['pais'].apply(lambda x: x.replace('Jacquinot Bay  New Guinea', 'New Guinea'))
paises['pais'] = paises['pais'].apply(lambda x: x.replace('French Equatorial Africa', 'Republic of the Congo'))
paises['pais'] = paises['pais'].apply(lambda x: x.replace('the Panama coast', 'Panama'))
paises['pais'] = paises['pais'].apply(lambda x: x.replace('Gulf of Karkinitsky', 'Ukraine'))
paises['pais'] = paises['pais'].apply(lambda x: x.replace('French Cameroons', 'Cameroon'))
paises['pais'] = paises['pais'].apply(lambda x: x.replace('800 miles east of Newfoundland', 'Newfoundland and Labrador'))
paises['pais'] = paises['pais'].apply(lambda x: x.replace('French Indo-China', 'Vietnam'))
paises['pais'] = paises['pais'].apply(lambda x: x.replace('Pacific Ocean between Hong Kong and Macao', 'Hong Kong'))
paises['pais'] = paises['pais'].apply(lambda x: x.replace('off Bermuda', 'Bermuda'))
paises['pais'] = paises['pais'].apply(lambda x: x.replace('off the Philippine island of Elalat', 'Philippines'))
paises['pais'] = paises['pais'].apply(lambda x: x.replace('Atlantic Ocean off Florida', 'Miami, Florida'))
paises['pais'] = paises['pais'].apply(lambda x: x.replace('British Cameroons', 'Cameroon'))
paises['pais'] = paises['pais'].apply(lambda x: x.replace('Bugaria', 'Bulgaria'))
paises['pais'] = paises['pais'].apply(lambda x: x.replace('325 miles east of Wake Island', 'Wake Island'))
paises['pais'] = paises['pais'].apply(lambda x: x.replace('South Dekota', 'South Dakota'))
paises['pais'] = paises['pais'].apply(lambda x: x.replace('Baangladesh', 'Bangladesh'))
paises['pais'] = paises['pais'].apply(lambda x: x.replace('Aregntina', 'Argentina'))
paises['pais'] = paises['pais'].apply(lambda x: x.replace('Midway Island Naval Air Station', 'Hawaii'))
paises['pais'] = paises['pais'].apply(lambda x: x.replace('Massachutes', 'Massachusetts'))
paises['pais'] = paises['pais'].apply(lambda x: x.replace('Mt. Helmos. Greece', 'Greece'))
paises['pais'] = paises['pais'].apply(lambda x: x.replace('French Somaliland', 'Somalia'))
paises['pais'] = paises['pais'].apply(lambda x: x.replace('South-West  Africa (Namibia)', 'Namibia'))
paises['pais'] = paises['pais'].apply(lambda x: x.replace('Alakska', 'Alaska'))
paises['pais'] = paises['pais'].apply(lambda x: x.replace('Khmer Republic', 'Cambodia'))
paises['pais'] = paises['pais'].apply(lambda x: x.replace('Southeastern Bolivia', 'Bolivia'))
paises['pais'] = paises['pais'].apply(lambda x: x.replace('Rhodesia (Zimbabwe)', 'Zimbabwe'))
paises['pais'] = paises['pais'].apply(lambda x: x.replace('Djbouti', 'Djibouti'))
paises['pais'] = paises['pais'].apply(lambda x: x.replace('Centeral Afghanistan\rAfghanistan', 'Afghanistan'))
paises['pais'] = paises['pais'].apply(lambda x: x.replace('Sierre Leone', 'Sierra Leone'))
paises['pais'] = paises['pais'].apply(lambda x: x.replace('Airzona', 'Arizona'))
paises['pais'] = paises['pais'].apply(lambda x: x.replace('En route from Argentina  to  California', 'Argentina'))
paises['pais'] = paises['pais'].apply(lambda x: x.replace('Inodnesia', 'Indonesia'))
paises['pais'] = paises['pais'].apply(lambda x: x.replace('Domincan Republic', 'Dominican Republic'))
paises['pais'] = paises['pais'].apply(lambda x: x.replace('Canada2', 'Canada'))
paises['pais'] = paises['pais'].apply(lambda x: x.replace('Yugosalvia', 'Serbia'))
paises['pais'] = paises['pais'].apply(lambda x: x.replace('off Angola', 'Angola'))
paises['pais'] = paises['pais'].apply(lambda x: x.replace('Calilfornia', 'California'))
paises['pais'] = paises['pais'].apply(lambda x: x.replace('Sao Gabriel de Cachoeria', 'Amazonas, Brazil'))
paises['pais'] = paises['pais'].apply(lambda x: x.replace('Democtratic Republic Congo', 'Congo'))
paises['pais'] = paises['pais'].apply(lambda x: x.replace('Democratic Republic Cogo', 'Congo'))
paises['pais'] = paises['pais'].apply(lambda x: x.replace('175 miles off the Egyptian coast', 'Egypt'))
paises['pais'] = paises['pais'].apply(lambda x: x.replace('Minnisota','Minnesota'))

In [23]:

geolocator = Nominatim(user_agent='hola')
# paises['coord'] = paises['pais'].apply(geolocator.geocode)
paises.loc[:100,'coord'] = paises.loc[:100,'pais'].apply(geolocator.geocode)
# 5 min aprox.
paises.loc[101:200,'coord'] = paises.loc[101:200,'pais'].apply(geolocator.geocode)
paises.loc[201:300,'coord'] = paises.loc[201:300,'pais'].apply(geolocator.geocode)
paises.loc[301:400,'coord'] = paises.loc[301:400,'pais'].apply(geolocator.geocode)
paises.loc[401:,'coord'] = paises.loc[401:,'pais'].apply(geolocator.geocode)
# 4min aprox

In [24]:
paises

,localizar,pais,coord
0,Virginia,Virginia,"(Virginia, United States, (37.1232245, -78.492..."
1,France,France,"(France, (46.603354, 1.8883335))"
2,New Jersey,New Jersey,"(New Jersey, United States, (40.0757384, -74.4..."
3,Canada,Canada,"(Canada, (61.0666922, -107.991707))"
4,North Sea,North Sea,(North Sea / Nordsee / Noordzee / Nordsøen / N...
...,...,...,...
493,Malta International Airport,Malta International Airport,"(Ajruport Internazzjonali ta' Malta, Triq De H..."
494,South Australia,South Australia,"(South Australia, Australia, (-30.5343665, 135..."
495,Mississipi,Mississipi,"(Mississippi, United States, (32.9715285, -89...."
496,Guizhou Province,Guizhou Province,"(贵洲, 开平市, 江门市, 广东省, 中国, (22.3175945, 112.60320..."
497,Micronesia,Micronesia,"(Micronesia, (8.6062347, 151.832744331612))"

In [25]:
paises['lat']=paises['coord'].apply(lambda x: x.latitude)

In [26]:
paises['lon']=paises['coord'].apply(lambda x: x.longitude)

In [27]:
paises['lat-lon']=paises['lat'].astype(str)+', '+paises['lon'].astype(str)

In [28]:
paises['country']=paises['lat-lon'].apply(lambda x: geolocator.reverse(x, language='en'))
# 4 min aprox

In [29]:
paises[paises['country'].isnull()]

,localizar,pais,coord,lat,lon,lat-lon,country
4,North Sea,North Sea,(North Sea / Nordsee / Noordzee / Nordsøen / N...,56.741234,2.891172,"56.74123355, 2.8911717166880475",None
30,North Atlantic Ocean,North Atlantic Ocean,"(北大西洋, (40.0, -40.0))",40.000000,-40.000000,"40.0, -40.0",None
36,Mediterranean Sea,Mediterranean Sea,"(Mediterranean Sea, (35.0000035, 19.9999957))",35.000003,19.999996,"35.0000035, 19.9999957",None
111,South Atlantic Ocean,South Atlantic Ocean,"(Južni Atlantik, (-45.0, -15.0))",-45.000000,-15.000000,"-45.0, -15.0",None
145,Gulf of Oman,Gulf of Oman,"(خلیج عمان, (24.213802899999997, 58.9845822868...",24.213803,58.984582,"24.213802899999997, 58.9845822868196",None
150,Sea of Japan,Sea of Japan,"(Японское море / 日本海 / 동해, (43.060053350000004...",43.060053,137.335301,"43.060053350000004, 137.33530126992395",None
157,Indian Ocean,Indian Ocean,"(Indian Ocean, (-9.9999999, 69.9999999))",-10.000000,70.000000,"-9.9999999, 69.9999999",None
170,Pacific Ocean,Pacific Ocean,"(Pacific Ocean, (-0.703107, -120.9375))",-0.703107,-120.937500,"-0.703107, -120.9375",None
194,North Pacific Ocean,North Pacific Ocean,"(North Pacific Ocean, (30.0, -170.0))",30.000000,-170.000000,"30.0, -170.0",None
204,Persian Gulf,Persian Gulf,"(الخليج العربي, (27.2380913, 51.19723479885998))",27.238091,51.197235,"27.2380913, 51.19723479885998",None
232,Marshall Islands,Marshall Islands,"(Marshall Islands, (8.9995549, 168.0002575))",8.999555,168.000258,"8.9995549, 168.0002575",None
243,Baltic Sea,Baltic Sea,(Baltijas jūra / Baltijos jūra / Itämeri / Lää...,56.000000,18.000000,"56.0, 18.0",None
290,Gulf of Mexico,Gulf of Mexico,"(Golfo de México, (24.4870296, -89.53632075738...",24.487030,-89.536321,"24.4870296, -89.5363207573838",None
302,Philippine Sea,Philippine Sea,"(Philippine Sea, (20.0, 135.0))",20.000000,135.000000,"20.0, 135.0",None
380,Antarctica,Antarctica,"(Antarctica, (-79.4063075, 0.3149312))",-79.406307,0.314931,"-79.4063075, 0.3149312",None
403,Andaman Sea,Andaman Sea,"(Andaman Sea, (10.0000001, 94.9999999))",10.000000,95.000000,"10.0000001, 94.9999999",None
473,Black Sea,Black Sea,"(Black Sea, (43.87280435, 33.99381558677739))",43.872804,33.993816,"43.87280435, 33.99381558677739",None

In [30]:
def entregar_pais(x):
    try:
        a = x.raw['address']['country']
        return a
    except:
        return 'Water'

In [31]:
paises['country2']=paises['country'].apply(entregar_pais)

In [32]:
paises

,localizar,pais,coord,lat,lon,lat-lon,country,country2
0,Virginia,Virginia,"(Virginia, United States, (37.1232245, -78.492...",37.123224,-78.492772,"37.1232245, -78.4927721","(Prince Edward County, Virginia, United States...",United States
1,France,France,"(France, (46.603354, 1.8883335))",46.603354,1.888334,"46.603354, 1.8883335","(D 51, Tranzault, La Châtre, Indre, Centre-Val...",France
2,New Jersey,New Jersey,"(New Jersey, United States, (40.0757384, -74.4...",40.075738,-74.404162,"40.0757384, -74.4041622","(Woodair Estates, Jackson Township, Ocean Coun...",United States
3,Canada,Canada,"(Canada, (61.0666922, -107.991707))",61.066692,-107.991707,"61.0666922, -107.991707","(South Slave Region, Northwest Territories, Ca...",Canada
4,North Sea,North Sea,(North Sea / Nordsee / Noordzee / Nordsøen / N...,56.741234,2.891172,"56.74123355, 2.8911717166880475",None,Water
...,...,...,...,...,...,...,...,...
493,Malta International Airport,Malta International Airport,"(Ajruport Internazzjonali ta' Malta, Triq De H...",35.847397,14.492295,"35.84739655, 14.492295178989536","(Malta International Airport, Triq De Hosa, Sa...",Malta
494,South Australia,South Australia,"(South Australia, Australia, (-30.5343665, 135...",-30.534367,135.630121,"-30.5343665, 135.6301212","(Bon Bon, Pastoral Unincorporated Area, South ...",Australia
495,Mississipi,Mississipi,"(Mississippi, United States, (32.9715285, -89....",32.971528,-89.734850,"32.9715285, -89.7348497","(County Road 4102, Joseph, Attala County, Miss...",United States
496,Guizhou Province,Guizhou Province,"(贵洲, 开平市, 江门市, 广东省, 中国, (22.3175945, 112.60320...",22.317594,112.603201,"22.3175945, 112.6032007","(Guizhou, Kaiping, Jiangmen, Guangdong Provinc...",China
497,Micronesia,Micronesia,"(Micronesia, (8.6062347, 151.832744331612))",8.606235,151.832744,"8.6062347, 151.832744331612","(Chuuk, Federated States of Micronesia, (7.439...",Federated States of Micronesia

In [33]:
place= pd.DataFrame()
place[['localizar','country', 'lat', 'lon']] = paises[['localizar', 'country2', 'lat', 'lon']]

In [34]:
data=data.merge(right=place, how='left', on='localizar', validate='m:1')

Columnas: OperadOR y flight number (nada para hacer, ni normalizar)

Columna: route

In [35]:
data['route']=data['route'].apply(lambda x: x.replace('–','-'))

In [36]:
def guion(x):
    if '-' in str(x):
        return 'Comercial'
    else:
        return 'Otro'

# en principio todos los que tienen ruta de origen y final (incluye guion) los clasifico como Comerciales, y al resto como otro

In [90]:
#Abro la columna con nulos
data['tipo_vuelo']=np.NaN

In [91]:
data['tipo_vuelo']=data['route'].apply(lambda x: guion(x))

In [92]:

def militar_route(x):
    word_list = ['mission', 'Bombing', 'Militar', 'troop']
    a=0
    for i in word_list:
        if i in x:
            a= 1
    
    if a== 1: 
        return 'Militar'
    else:
        return 'Otro'

In [93]:
# sobre los que preclasifiqué con Otro, me fijo si son militares, y les pongo Militar, sino dejo 'Otro'
data.loc[data[data['tipo_vuelo']=='Otro'].index,'tipo_vuelo']=data['route'].apply(lambda x: militar_route(x))

In [94]:
def militar_operador(x):
    word_list = ['Militar', 'Air Force', 'Army', 'Navy']
    a=0
    for i in word_list:
        if i in x:
            a= 1
    
    if a== 1: 
        return 'Militar'
    else:
        return 'Otro'

In [95]:
#repito lo anterior, pero fijándome en otra columna si hay info de militar
data.loc[data[data['tipo_vuelo']=='Otro'].index,'tipo_vuelo']=data['OperadOR'].apply(lambda x: militar_operador(x))

In [101]:
data[data['OperadOR'].str.contains('Militar')]

,fecha,Ruta,OperadOR,flight_no,route,ac_type,registration,all_aboard,PASAJEROS A BORDO,crew_aboard,...,crew_fatalities,ground,summary,localizar,country,lat,lon,tipo_vuelo,tipo_avion,intencional
0,1908-09-17,"Fort Myer, Virginia",Military - U.S. Army,NaN,Demonstration,Wright Flyer III,NaN,2.0,1.0,1.0,...,0.0,0.0,"During a demonstration flight, a U.S. Army fly...",Virginia,United States,37.123224,-78.492772,Militar,Avión,0
2,1912-07-12,"Atlantic City, New Jersey",Military - U.S. Navy,NaN,Test flight,Dirigible,NaN,5.0,0.0,5.0,...,5.0,0.0,First U.S. dirigible Akron exploded just offsh...,New Jersey,United States,40.075738,-74.404162,Militar,Otro,0
4,1913-09-09,North Sea,Military - German Navy,NaN,NaN,Zeppelin L-1 (airship),NaN,20.0,15.0,5.0,...,4.0,0.0,The airship flew into a thunderstorm and encou...,North Sea,Water,56.741234,2.891172,Militar,Otro,0
5,1913-10-17,"Johannisthal, Germany",Military - German Navy,NaN,NaN,Zeppelin L-2 (airship),NaN,28.0,23.0,5.0,...,5.0,0.0,Hydrogen gas which was being vented was sucked...,Germany,Germany,51.163818,10.447831,Militar,Otro,0
6,1915-03-05,"Tienen, Belgium",Military - German Navy,NaN,NaN,Zeppelin L-8 (airship),NaN,41.0,0.0,41.0,...,17.0,0.0,Crashed into trees while attempting to land af...,Belgium,Belgium,50.640281,4.666715,Militar,Otro,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4980,2019-07-30,"Rawalpindi, India",Military - Pakistan Army,NaN,Training,Beechcraft B300 King Air,766,5.0,0.0,5.0,...,5.0,14.0,"The Pakistani military plane, on a training fl...",India,India,22.351115,78.667743,Militar,Avión,0
4992,2020-09-25,"Chuguev, Ukraine",Military - Ukraine Air Force,NaN,Training,Antonov An26SH,76 yellow,27.0,20.0,7.0,...,7.0,0.0,"The military transport, crashed 1.2 miles from...",Ukraine,Ukraine,49.487197,31.271832,Militar,Avión,0
4996,2021-05-21,"Kaduna, Nigeria",Military - Nigerian Air Force,NaN,NaN,Beechcraft B300 King Air 350i,NAF203,11.0,7.0,4.0,...,4.0,0.0,"While on final approach, in poor weather condi...",Nigeria,Nigeria,9.600036,7.999972,Militar,Avión,0
4997,2021-06-10,"Pyin Oo Lwin, Myanmar",Military - Myanmar Air Force,NaN,Naypyidaw - Anisakan,Beechcraft 1900D,4610,14.0,12.0,2.0,...,1.0,0.0,The plane was carrying military personnel and ...,Myanmar,Myanmar,17.175050,95.999965,Militar,Avión,0
4998,2021-07-04,"Patikul, Sulu, Philippines",Military - Philippine Air Force,NaN,Cagayan de Oro-Lumbia - Jolo,Lockheed C-130H Hercules,5125,96.0,88.0,8.0,...,4.0,3.0,"While attempting to land at Jolo Airport, the ...",Philippines,Philippines,12.750349,122.731210,Militar,Avión,0

In [97]:
# me falta revisar bien los preclasificados como comerciales, a ver si son militares.
def militar_operador_acomerciales(x):
    word_list = ['Militar', 'Military', 'Air Force', 'Army', 'Navy']
    a=0
    for i in word_list:
        if i in x:
            a= 1
    
    if a== 1: 
        return 'Militar'
    else:
        return 'Comercial'

In [98]:
data.loc[data[data['tipo_vuelo']=='Comercial'].index,'tipo_vuelo']=data['OperadOR'].apply(lambda x: militar_operador_acomerciales(x))

In [99]:
# data[data['tipo_vuelo']=='Comercial']['PASAJEROS A BORDO'].mean()
# 31 aprox

31.224142816661942

In [100]:
# data[data['tipo_vuelo'].isnull()]

Empty DataFrame
Columns: [fecha, Ruta, OperadOR, flight_no, route, ac_type, registration, all_aboard, PASAJEROS A BORDO, crew_aboard, cantidad de fallecidos, passenger_fatalities, crew_fatalities, ground, summary, localizar, country, lat, lon, tipo_vuelo, tipo_avion, intencional]
Index: []

[0 rows x 22 columns]

In [68]:
# lleno nulos de la columna tipo_vuelo con 'Comercial' si la cant de pasajeros es > 31; y con 'Otro' si es menor

# data.loc[data[data['PASAJEROS A BORDO']>30|data['tipo_vuelo'].isnull()].index,'tipo_vuelo']='Comercial'

In [69]:
# data['tipo_vuelo'].fillna('Otro', inplace=True)

In [103]:
data['tipo_vuelo'].describe()

count          5000
unique            3
top       Comercial
freq           3529
Name: tipo_vuelo, dtype: object

Columna: ac_type (la uso para clasificar en: Avion u Otro)

In [104]:
data['ac_type'].unique().tolist()

['Wright Flyer III',
 'Wright Byplane',
 'Dirigible',
 'Curtiss seaplane',
 'Zeppelin L-1 (airship)',
 'Zeppelin L-2 (airship)',
 'Zeppelin L-8 (airship)',
 'Zeppelin L-10 (airship)',
 'Schutte-Lanz S-L-10 (airship)',
 'Zeppelin L-32 (airship)',
 'Zeppelin L-31 (airship)',
 'Super Zeppelin (airship)',
 'Zeppelin L-34 (airship)',
 'Airship',
 'Schutte-Lanz S-L-9 (airship)',
 'Zeppelin L-22 (airship)',
 'Zeppelin L-43 (airship)',
 'Zepplin L-48 (air ship)',
 'Zeppelin L-23 (airship)',
 'Zeppelin L-44 (airship)',
 'Zeppelin L-59 (airship)',
 'Zeppelin L-70 (airship)',
 'Zeppelin L-53 (airship)',
 'De Havilland DH-4',
 'FD Type Dirigible',
 'Caproni Ca.48',
 'Curtiss R-4LM',
 'De Havilland DH.4',
 'de Havilland DH-4',
 'Curtiss JN-4H',
 'Farman F-40',
 'Armstrong-Whitworth F-K-8',
 'Junkers JL-6',
 'Junkers F-13',
 'Salmson 2-A-2',
 'Breguet 14',
 'Handley Page HP-16',
 'Avro 504',
 'De Havilland DH-4\rDe Havilland DH-4',
 'Royal Airship Works ZR-2 (airship)',
 'Potez IX',
 'Bristol 28 Tourer',
 'Handley Page O/10',
 'Dirigible Roma (airship)',
 'Aeromarine Model 85 (flying boat)',
 'de Havilland DH-18 / Farman F-60 Goliath',
 'NaN',
 'Bleriot Spad 27',
 'LVG C VI',
 'Potez 29',
 'de Havilland DH-9',
 'Lioré-et-Olivier H-13',
 'Farman F-60 Goliath',
 'Farman F.60 Goliath',
 'Blériot Spad 46',
 'de Havilland DH-34',
 'Zeppelin Dixmunde (airship)',
 'Fokker F.III',
 'de Havilland DH-34B',
 'Fokker (KLM)  F.III',
 'Lioré-et-Olivier LeO H-13',
 'Dirigible ZR-1 Shenandoah (airship)',
 'Curtiss Carrier Pigeon',
 'Caudron C-61',
 'Fokker F7',
 'Bleriot 155',
 'Sikorsky S-25',
 'Fokker FG III',
 'Handley Page W-10',
 'Ryan M-1',
 'Fokker F-VII',
 'de Havilland DH-9C',
 'Swallow\rSwallow',
 'Douglas M-4',
 'SPCA Meteore 63',
 'Fokker F-VIII',
 'Fokker Universal',
 'Dornier Merkur',
 'Fairchild FC-2',
 'Farman F-121 Jabiru',
 'Latécoère 23 (flying boat)',
 'Latecoere 25',
 'Boeing 40',
 'Rohrbach Roland',
 'Latecoere 26',
 'Ford 4',
 'AEGK',
 'Vickers 74 Vulcan',
 'Fokker (KLM) F.III',
 'Ford 4-AT-B Tri Motor',
 'Bleriot Spad 33',
 'de Havilland DH.50J',
 'Fokker Super Universal',
 'Bleriot Spad 56',
 'Latecoere 32',
 'Hamilton H-47',
 'Travel Air 4000',
 'Dornier Wal',
 'Ford Tri-motor 4',
 'Junkers G-31',
 'Blériot Spad 66',
 'Stearman C-38',
 'CMASA Wal',
 'Ford 5-AT-B Tri Motor',
 'Fokker F-VIIA',
 'Ford 5-AT-B Tri-Motor / B-PW-9D',
 'Fokker F-III',
 'Cams 53',
 'Fokker F-X',
 'Ford 5-AT-B Tri-Motor',
 'Domier Delphin III (flying boat)',
 'Lockheed 5 Vega',
 'Kalinin K-4',
 'Fokker FG II',
 'Lockheed Vega',
 'de Havilland DH-66 Hercules',
 'Travel Air 6000',
 'Pitcairn PA-6 Mailwing',
 'Latecoere 25-3-R',
 'Fairchild 71',
 'Short Calcutta (flying boat)',
 'Loening C-2C',
 'Lockheed Vega 5',
 'Junkers G-24',
 'Liore et Olivier 190',
 'Savoia Marchetti S55',
 'Stearman M-2 Speedmail',
 'Douglas M-3',
 'Arado V1',
 'Travel Air B6000',
 'Boeing 95',
 'Farman 190',
 'Ford 5-AT-C Tri Motor',
 'Travel Air A6000A',
 'Farman F-63',
 'Latecoere 28',
 'Ford Tri-Motor 5',
 'Junkers F-13ge',
 'Sabca F-VII',
 'Royal Airship Works R-101',
 'Messerschmitt M-20B',
 'de Havilland DH.80 Puss Moth',
 'Handley Page W-8',
 'Loening C-W Air Yaht',
 'Desoutter II',
 'Fokker Universal F-14',
 'Avro 10',
 'Fokker F10A Trimotor',
 'Messerschmitt M-20',
 'Junkers W-34',
 'Fokker F-VIIB',
 'Lockheed Vega 2',
 'Lasco Lascowl',
 'Fokker F-VIIb-3m',
 'Heinkel HE-2',
 'Lockheed Orion 9',
 'De Havilland DH.80',
 'Stinson',
 'Fokker F-VIIb-3M',
 'CAMS 56',
 'Fairchild Pilgrim 100A',
 'Stinson SM-2A',
 'Stinson SM-6000B',
 'Fairchild',
 'Stearman C-3MB',
 'Fokker F-10A',
 'Northrop Alpha 3',
 'Farman F-190',
 'CAMS 53',
 'Junkers G-23',
 'Fokker F-10',
 'Liore-et-Olivier 213',
 'De Havilland DH-80',
 'Ford Tri-motor 5',
 'Junkers W-33',
 'Ford 5',
 'De Havilland DH-60',
 'Curtiss Condor 18',
 'Stearman 4',
 'Ford 5-AT-D',
 'Fairchild FC-2W',
 'Armstrong Whitworth Argosy II',
 'Goodyear-Zeppelin U.S.S. Akron (airship)',
 'Cams 53-1',
 'Latecoere 28-1',
 'Pitcairns PA-6',
 'Sikorsky S-38B (flying boat)',
 'CMASA Wal (flying boat)',
 'Farman F-306',
 'Boeing 247',
 'Farman F-301',
 'Northrop Delta',
 'Kalinin K-7',
 'Focke-Wulf A-17',
 'Dewoitine D-332',
 'Breguet 280T',
 'Latécoère 28',
 'Sikorsky S-38 Flying Boat',
 'Ford 5-AT-C Tri-Motor',
 'Sikorsky S-38BB',
 'Wibault 282T',
 'Curtiss Condor T-32',
 'Lockheed Orion',
 'Curtiss AT-32C Condor',
 'Stinson  SM-6000B',
 'de havilland 89 Dragon Rapide',
 'de Havilland DH-50A',
 'de Havilland DH-86',
 'De Havilland DH-61',
 'Stinson SM-6000-B',
 'Lockheed Vega 5C',
 'Ford 4-AT-E Tri-motor',
 'Douglas DC-2-115A',
 'Lockheed Orion 9D',
 'Tupolev ANT-9',
 'Wapiti',
 'Consolidated Fleetster',
 'Junkers JU-52/3m',
 'Goodyear-Zeppelin U.S.S. Macon (airship)',
 'Rochrbach Roland',
 'de Havilland Dragon 1',
 'Farman F-300',
 'Fokker F-12',
 'Douglas DC-2-112',
 'Tupolev ANT-20 / I-5',
 'Ford model 4-AT-E',
 'Boeing 221',
 'Stinson SM6000B Tri-motor',
 'Ford Tri-Motor / Ford Tri-Motor',
 'Fokker F-XXII',
 'General 102-E',
 'Douglas DC-2',
 'de Havilland DH-84 Dragon',
 'Savoia-Marchetti S-66',
 'Stinson Model A',
 'Lockheed Orion 9E Explorer float plane',
 'Waco, model YLC',
 'Ford Tri-Motor',
 'Boeing 247D',
 'Boeing B-247-D',
 'Latécoère 28-1',
 'Short S-17 Kent',
 'Caudron C-630 Simoun',
 'Savoia-Marchetti SM73',
 'Heinkel He-70',
 'Short S-8 Calcutta flying boat',
 'Junkers JU-52',
 'Douglas DC-2-120',
 'Vultee V-1',
 'Latecoere 301 (flying boat)',
 'Dormier Do-J-Iif Bos Wal flying boat',
 'Ford 5-AT-D Tri-Motor',
 'Sikorsky S-42A  Flying Boat',
 'OFM F-VIIb/3m',
 'General Aviation GA-43',
 'De Havilland DH-60 Moth',
 'Junkers JU-160',
 'Spartan Cruiser',
 'Saro A-19 Cloud',
 'Wibault 280',
 'Lockheed 9 Orion',
 'Lockheed 10B Electra',
 'De Havilland DH-86',
 'Stinson SM 6000B',
 'CRDA CANT Z-506',
 'Boulton and Paul P-71',
 'Lockheed  5 Vega',
 'Blackburn B-2',
 'Fokker F-XII',
 'Antonov AN-9',
 'Latécoère 300 (float plane.',
 'Douglas DC-2-115E',
 'Lockheed 10 Electra',
 'Lockheed 10E Electra',
 'Sabca S-73',
 'Douglas DC-3A',
 'Heinkel He-111V2',
 'Short  S-23 (flying boat)',
 'Zeppelin LZ-129',
 'Sirkorsky S-43 (flying boat)',
 'Douglas DC-2-115L',
 'Sikorsky S-43',
 'Stinson SR-7 Reliant',
 'Short Empire flying boat',
 'Douglas DC-3',
 'Dewoitine D-333',
 'Heinkel He-111',
 'Lockhed 10 Electra',
 'Short Empire Flying Boat',
 'Short S-23 (flying boat)',
 'Potez 621',
 'Wibault 283-T12',
 'Junkers JU-38',
 'Lockheed 14H Super Electra',
 'Sikorsky S-42 (flying boat)',
 'Stinson Reliant SR-9',
 'Consolidated PBY-2 / Consolidated PBY-2',
 'V6 (airship)',
 'Lioré-et-Olivier H-242',
 'Cant Z-506',
 'Junkers JU.52',
 'Dewoitine D-338',
 'Lockheed Vega 5B',
 'Lockheed 14-H2 Super Electra',
 'Douglas DST-A-207A',
 'Fairchild 51',
 'Heinkel 116',
 'De Havilland DH-85',
 'Lockheed 14 Super Electra',
 'Savoia Marchetti S-66',
 'Armstrong-Withworth Atlanta',
 'Martin M-130 (flying boat)',
 'Ford Tri-motor F-VIII',
 'Douglas DF-151',
 'Macchi C-94',
 'Unknown / Unknown',
 'Ford Tri-motor',
 'De Havilland DH-84',
 'Dornier DO.18 (float plane)',
 'Savbia-Marchetti  S-73P',
 'Lockheed 14 Electra',
 'Junkers JU90V2',
 'Douglas DC 3-A-SB-3-G-14',
 'Nakajima A-T2',
 'Lockheed 14-WF62 Super Electra',
 'Short S23 ‘C’ Class flying boat',
 'Douglas DC-2-115B',
 'Lockheed 14-H Super Electra',
 'Fairchild 71(amphibious)',
 'Junkers JU-86',
 'Boeing 307 Stratoliner',
 'Caudron C.635 Simoun',
 'Short S-23 Empire Flying Boat',
 'Curtiss-Wright C-14 Osprey',
 'Koolhoven FK.43',
 'de Havilland DH.89 Dragon Rapide',
 'Junkers JU86 Z-2',
 'Sikorsky S43 (flying boat)',
 'De Havilland D-84',
 'Airspeed Oxford',
 'Savoia-Marchetti SM83',
 'Savoia-Marchetti SM-75',
 'Handley Page HP-42',
 'Savoia Marchetti SM 73',
 'Douglas DC-5',
 'Junkers JU-52/3mge',
 'Douglas DC-2-115H',
 'Lockheed Hudson A16-97',
 'Junkers Ju-52/3m',
 'Junkers Ju53/2m',
 'Junkers JU-90A-1',
 'Farman F-224',
 'Savoia-Marchetti SM.75',
 'Savoia-Marchetti SM-83',
 'Ford 5-AT Tri-Motor',
 'Douglas DC-3-3',
 'Lockheed 18 Lodestar',
 'Mitsubishi MC-20',
 'Macchi C.100',
 'Consolidated LB-30A Liberator',
 'Lockheed 18 LodeStar',
 'Consolidated 32-2 Liberator I',
 'Bloch 220',
 'Sikorsky S-42B (flying boat)',
 'Junkers JU-53/3m',
 'Tupolev ANT-6',
 'Lockheed Hudson',
 'Grumman G-21 Goose',
 'Consolidated Liberator',
 'deHavilland DH-86',
 'Consolidated B-24 Liberator',
 'Douglas DC-2-221',
 'Douglas DC-3-A-269',
 'Douglas C-49E',
 'Liore et Olivier H-246 Air Boat',
 'Siebel Si-204',
 'Short Sunderland',
 'Short S-30 (flying boat)',
 'Dewoitine D-342',
 'Lockheed 18 Loadstar',
 'Douglas C-39-DO  (DC-2)',
 'Sirkorsky 44A (flying boat)',
 'GVF PS-84',
 'Douglas DC-3 / Lockheed B-34',
 'Handley Page HP-57 Halifax',
 'Grazhdansky Vozdushnyi Flot PS-84',
 'Tupolev A.N.T. 20bis',
 'Short S-26 (flying boat)',
 'Douglas C-54A',
 'Consolidated C-87',
 'Consolidated 32-3 Liberator II',
 'Boeing XB-29',
 'Boeing B-314 (flying boat)',
 'Douglas C-53',
 'Douglas C-47-DL',
 'Lockheed C-56B Lodestar',
 'Short S-23',
 'Douglas C-47A-DL',
 'Douglas C-47 Skytrain (DC-3)',
 'B-17C Flying Fortress',
 'Lockheed Hudson VI',
 'Consolidated Liberator B24 C',
 'Short S-25 Sunderland 3 (flying boat)',
 'Consolidated B-24',
 'Boeing B-17F / Boeing B-17F',
 'Douglas C-53D-DO',
 'Douglas DC3-G102',
 'Short Sunderland 3',
 'Douglas C-47',
 'Lockheed L-18-56 Lodestar',
 'Lockheed 18-56 Lodestar',
 'Douglas C-47A-60-DL',
 'Consolidated B-24 / Consolidated B-24',
 'Pilgrim 100B',
 'Douglas C-47A',
 'Lockheed 10C Electra',
 'Douglas A-26B Invader',
 'R4D-5',
 'Douglas C-54A-DO (DC-4)',
 'Douglas C-47A-DK',
 'Consolidated Catalina PB2Y-3R',
 'Consolidated PB4Y-1',
 'Consolidated B-24H',
 'Douglas C-54A-DC (DC-4)',
 'Lockheed 18-56 Loadstar',
 'Junkers JU52/3m',
 'C-47 Dakota DT-941',
 'Douglas C-47A-90-DL',
 'Focke-Wulf FW 200',
 'Short S.23 Empire Flying Boat',
 'Consolidated B24H',
 'Avro 683 Lancaster',
 'Lisunov LI-2',
 'UC-64A Noorduyn Norseman',
 'Douglas C-47 Dakota',
 'Douglas R4D-6',
 'Junkers 52/3m',
 'Curtiss C-46A',
 'B17G Flying Fortress',
 'Douglas C-54E-DO (DC-4)',
 'Curtiss-Wright C-46D-CU',
 'Avro Lancaster',
 'Douglas C-47B-DK',
 'Douglas C-47B-dK',
 'de Havilland DH-86A',
 'Boeing TB-29A Super Fortress',
 'Douglas DC-3-201C /  Army A-26',
 'North American B-25D bomber',
 'Sikorsky S-43 (flying boat)',
 'Douglas DC-2-243',
 'Douglas C-47B-5-DK',
 'Curtiss C-46D',
 'Consolidated LB-40-A Liberator',
 'Short Stirling IV',
 'Consolidated LB-30-A Liberator',
 'Curtiss-Wright C-46F-CU',
 'Douglas C-47B',
 'Faucett F-19',
 'Curtiss-Wright C-46A-CK',
 'Douglas C-54G',
 'Budd RB-1 Conestoga',
 'Martin PBM-3S  / Martin PBM-5',
 'Boeing B-17G',
 'Douglas C-54',
 'Short Stirling',
 'Douglas C-48',
 'Douglas C-47 Dakota-DK',
 'Five Grumman TBM Avengers',
 'Martin PBM Mariner',
 'Lisunov Li-2',
 'Douglas DC-3-201E',
 'Douglas DC-3 Dakota',
 'Douglas DC-3-194H',
 'Consolidated 32-2 Liberator II',
 'Douglas DC-3-227B',
 'Douglas DC-3 (C-47DL)',
 'Avro 691 Lancastrian 1',
 'de Hvilland 89A Dragon Rapide',
 'Vickers Wellington bomber',
 'PBY4-2 Privateer / PB4Y-2 Privateer',
 'Douglas C-54-DO (DC-4)',
 'Douglas C-54D-DC (DC-4)',
 'Boeing B17G',
 'Lockheed L-049 Constellation',
 'Curtiss C-46',
 'Curtiss C-46D-10-CU',
 'Boeing B-17G / Boeing B-17G',
 'Douglas C-47A-10-DK',
 'Avro Anson',
 'Supermarine Stranraer (flying boat)',
 'Douglas DC-3 (C-53D-DO)',
 'Douglas DC-3 (C-47-A5-DL)',
 'Avro 685 York I',
 'Douglas C-47A Dakota',
 'Douglas DC-4-1009',
 'Curtiss Wright C-46',
 'Douglas C-47B-25-DK',
 'de Havilland 89A Dragon Rapide',
 'Douglas DC-3A-228D',
 'Douglas C-54E-5-DO',
 'Avro 685 York 1',
 'Fairey Firefly MK1',
 'Douglas DC-4',
 'AAC-1 Toucan',
 'Douglas C-53D-DO (DC-3)',
 'Douglas C-47A-90 DL (DC-3)',
 'Douglas DC-3 (C-47A-90-DL)',
 'Vickers 620 Viking 1',
 'Curtiss-Wright R5C-1',
 'Douglas DC-3 (C-47-B-1-DK)',
 'Avro  685 York I',
 'Douglas DC-3 ( C-53D-DO)',
 'Curtiss C-47',
 'Lockheed 049 Consellation',
 'Douglas DC-3 (C-50A-DO)',
 'Sikorsky S-43B (flying boat)',
 'Curtis C-46',
 'Douglas C-47A-1-DK',
 'Douglas DC-4 (C-54A-DO)',
 'Lockheed C-60 Lodestar',
 'Douglas DC-3 ( C-47-DO)',
 'Douglas C-47 / Douglas DC-3',
 'Douglas C- C47A-30DK',
 'Douglas DC-3C',
 'Douglas C-54B-15-DO',
 'Curtiss C-46E',
 'Savoia-Marchetti SM-95',
 'Doublas C-47',
 'Avro York C1',
 'Douglas DC-3 (C-47DL) /Vultee BT-13',
 'Douglas DC-47',
 'Douglas C-54B',
 'Junkers Ju-52',
 'Avro 691 Lancastrian',
 'Douglas DC-4 (C-54-DO)',
 'Lockheed 049-46-21 Constellation',
 'Li-2',
 'Avro 685 York',
 'Avro 691 Lancastrian 3',
 'Consolidated PBY-5A Catalina',
 'Douglas DC-3F',
 'Short Sandringham 5 (flying boat)',
 'Short Sandringham (flying boat)',
 'Boeing 314A',
 'Bristol 170 Freighter I',
 'Douglas DC-6',
 'Douglas DC-4A',
 'Lockheed L-049-46-26 Constellation',
 'Bristol 170 Freighter XI',
 'Douglas C-47-DK',
 'Ilyushin IL-12',
 'Short  S-29 Stirling V',
 'Douglas DC-3 (C-47)',
 'Douglas DC-2-172',
 'Douglas DC-3D',
 'Vickers 610 Viking 1B',
 'Douglas DC-3-201F',
 'Douglas DC-3 (C-47B-DK)',
 'Avro 688 Tudor I',
 'Lockheed L-649 Constellation',
 'Latecoere 631 (flying boat)',
 'Douglas DC-4 (C-54G-1-DO)',
 'Douglas DC-3 (C47-DL)',
 'Vickers 604 Viking 1B',
 'Vickers Viking 1B & Soviet YAK-3 fighter',
 'Lockheed L-049-46 Constellation',
 'Lockheed Hudson IIIA',
 'Lisnov Li-2',
 'de Havilland Dove 1',
 'Douglas DC-3-455',
 'Handley Page Halifax C-8',
 'de Havilland DH-89A Dragon Rapide',
 'PBY Catalina',
 'Fiat G.212CP',
 'Douglas DC-6 / RAF York',
 'Consolidated OA-10 Catalina',
 'Short Sandringham 2 (flying boat)',
 'Curtiss C-46D-20-CU',
 'Avro 691 Lancastrian (flying boat)',
 'Martin 202',
 'Douglas DC-3 (Douglas C-47A-10-DK)',
 'Short Sandringham 6 (flying boat)',
 'Ilyushin Il12',
 'Lockheed 049-46-25 Constellation',
 'Lockheed 10A Electra',
 'Boeing B-29A Superfortress',
 'Douglas C-54B-5-DO',
 'Douglas DC-3 (C-47-DL)',
 'Douglas DC-3DST',
 'Douglas DC-3 (C-47A-DL)',
 'Douglas C-54 Skymaster',
 'Avro 688 Tudor 4B',
 'Lockheed L-749 / Cessna 140',
 'Douglas C-54A-1-DO Skymaster',
 'Vickers 628 Viking 1B',
 'Douglas DC-3 / Avro Anson',
 'FIAT G-212CP',
 'Bristol 170 Freighter 31 Mark II',
 'Curtiss C-46D-5-CU',
 'Lockheed 749-79-33 Constellation',
 'Douglas C-47A-20-DL',
 'Curtiss C-46E-1-CS',
 'Lockheed L-749-79-33 Constellation',
 'Hawker Hunter',
 'Curtiss C-46F-1-CU',
 'Douglas DC-3 -201D/ F-6-F- 5 Hellcat',
 'Bristol 170 Freighter 21',
 'Douglas DC-3 (C-54A-DO)',
 'Consolidated Canso (amphibian)',
 'Douglas C-54A-1-DO',
 'Douglas C-54B / P-38',
 'Tempest',
 'Curtiss C-46D-CU',
 'Douglas DC-3-313A',
 'Douglas C-54A-DO',
 'Casa 352',
 'Douglas C-47A-50-DL',
 'Douglas C-47A-15-DK',
 'Avro 689 Tudor 5',
 'Latecoere 631 (sea plane)',
 'Douglas C-47 (DC-3)',
 'Douglas C-54D',
 'Douglas C-47DL',
 'Boeing B-29',
 'Curtiss C-46-F-1-CU',
 'Douglas DC-3-178',
 'Curtiss C-46 Commando',
 'Douglas C-47D',
 'Lockheed 049 Constellation',
 'Boeing B-29MR',
 'Lockheed 749A Constellation',
 'Douglas R5D-3',
 'Avro Ninteen I',
 'Vickers 610 Viking-1B',
 'Lockheed 749 Constellation',
 'Douglas C-54B-1-DC',
 'Douglas C54E-DO (DC-4)',
 'Savoia Marchetti SM-95',
 'Short Sunderland 9 (flying boat)',
 'Douglas C-124A Globemaster',
 'Douglas C-47A-75-DL Dakota 3',
 'Douglas DC-4 /Beechcraft SMB-1',
 'Convair B-36D',
 'Vickers 639 Viking 1',
 'Fairchild C-82',
 'Douglas DC-6B',
 'Vickers Valetta C-1',
 'de Havilland DHA-3 Drover II',
 'Boeing 377 Stratocruiser 10-34',
 'Douglas C-47A-30-DK Dakota III',
 'Fairchild C-119C-15-FA Flying Boxcar',
 'Curtiss C-46D-15-CU',
 'Boeing C-97A Stratofreighter',
 'Fairchild C-82 Packet',
 'Lisunov Li-2P',
 'DC-2-243',
 'Curtiss Wright C-46F',
 'SNCASE Languedoc',
 'Curtiss C-46A-50-CU',
 'Curtiss C 46F-CU',
 'Convair CV-240-0',
 'Vickers 614 Viking 1',
 'Consolidated  32 Liberator II',
 'Douglas C-47A-35-DL',
 'Boeing B-29 / Boeing B-29',
 'Curtiss C-46F-1CU',
 'Boeing 377-10-26 Stratocruiser',
 'Handley Page HP-81 Hermes IV',
 'Airspeed AS-65 Consul',
 'Boeing B-50 Superfortress',
 'Avro Shackleton MR-1',
 'Fairchild packet (C119 flying boxcar)',
 'Boeing 377 Stratocruiser',
 'Handley Page HP-81 Hermes 4A',
 'Bristol 170 Freighter',
 'de Havilland 110',
 'Boeing KC-97G Stratofreighter',
 'Fairchild C-119C',
 'Fairchild C-119C-23-FA Flying Boxcar',
 'Douglas C-54G (DC-4)',
 'Vickers Viking 610-1B',
 'Douglas C-54B-10-DO',
 'Vickers Valetta Mk1 / Avero Lancaster',
 'Douglas C-47B-15-DK',
 'Douglas C-54A-5-DC',
 'Curtiss-Wright C-46',
 'de Havilland DH106 Comet 1A',
 'Curtiss C-46F',
 'Convair CV-240-7',
 'Convair RB-36H',
 'Boeing B-29 Superfortress',
 'Douglas DC-4  (C-54-10-DO)',
 'de Havilland DH-114 Heron 1B',
 'Vickers 616 Viking 1B',
 'Junkers JU-5/-3m',
 'Doublas Dc-3',
 'Lockheed 18-56 LodeStar',
 'de Havilland DH106 Comet 1',
 'Vickers Valetta T-3',
 'Convair CV-240-4',
 'Li-2 / Li-2T',
 'Ilyushin IL-2',
 'Douglas C-124A Globemaster II',
 'Douglas DC-6A',
 'Fairchild R4Q-2',
 'Lockheed L- 749A Constellation',
 'Convair B-36',
 'Convair CV-240-12',
 'Douglas C-46A-CU ( DC-3)',
 'Avro Shackleton MR-2',
 'VC-Viking',
 'Convair CV-240',
 'Vickers Valetta',
 'F-88 Sabre Jet',
 'Curtiss-Wright C46D-CU',
 'Lockheed 749A-79-33 Constellation',
 'Fairchild C-110F',
 'Canadair C-4-1 Northstar / Harvard Mark II',
 'Douglas C-47A-30-DK',
 'Lockheed C-28',
 'Lockheed 749A-79 Constellation',
 'Bristol 170 Freighter 21E',
 'Lockheed 1049C-55-81 S Constellation',
 'Vickers 634 Viking',
 'Ilyushin IL -12',
 'Lockheed R7V-1',
 'Vickers 720 Viscount',
 'Boeing B377-10-28 Stratocruiser',
 'Ilyushin II-14',
 'Douglas C47',
 'Avro Shackleton M-2 / Avro Shakleton M-2',
 'Martin 202A / DC-3',
 'Grumman G-73 Mallard',
 'Convair CV-340',
 'Consolidated PBY-5 Catalina',
 'Martin 404',
 'de Havilland DH.104 Dove',
 'Douglas R6D-1 (C-118B)',
 'Boeing 377 Stratocruiser 10-26',
 'Avro 685 York C-1',
 'Convair CV-340-32',
 'Aeroflot',
 'Fairchild C119G / Fairchild C119G',
 'Bristol 170 Freighter 31',
 'Canadair C-4 Argonaut',
 'Douglas C54A',
 'Convair CV-340-58',
 'Douglas MC-54M',
 'Douglas C124-DL Globemaster II',
 'Boeing RB-52B',
 'Lockheed 749C-79-12 Constellation',
 'Douglas R5D2',
 'Boeing 377 Stratocruiser 10-30',
 'Aero Commander  520',
 'CF-100 Mark 4B',
 'Douglas C-47-DL (DC-3)',
 'Lockheed 1049E-55 Super Constellation',
 'Douglas DC-7 / Lockheed S Constellation',
 'Vickers Viscount',
 'Douglas C-118A',
 'Convair CV-440-11',
 'Curtiss C-46A-45-CU',
 'Douglas DC-3 / Cessna 170B',
 'Stinson AT-19',
 'Douglas C188-B',
 'Boeing  377 Stratocruiser',
 'Handley Page HP-1 Hermes',
 'de Havilland DH-114 Heron 2B',
 'Douglas C-54A-10-DC',
 'Ilyushin IL-12B',
 'Lockheed 749-79-34 Constellation',
 'Canadair DC-4M-2 Northstar',
 'Vickers 708 Viscount',
 'Lockheed C-121C Super Constellation',
 'Vickers 615 Viking 1B',
 'SNCASE SE.2010 Armagnac',
 'Douglas DC-7B / U.S. Air Force F-89J',
 'Douglas C-124C',
 'Curtiss C-46D-15--CU',
 'Blackburn Beverley C Mark 1',
 'Vickers Viscount 701',
 'Douglas C-47-A-75-DL Skytrain',
 'Boeing C-97C',
 'Consolidated B-24J',
 'Vickers Valetta C-Mk.1',
 'Lockheed Super Constellation',
 'Vickers Viking 1B',
 'Ilyushin P-14',
 'L-Hudson',
 'Lockheed L-414 Hudson',
 'Lockheed 1049C Super Constellation',
 'Douglas C-47A-90 (DC-3)',
 'Ilyushin IL-14P',
 'Convair CV-440-62',
 'Let Aero 45S',
 'de Havilland DH-114 Heron',
 'Vickers 802 Viscount',
 'Fairchild C-82A',
 'Ilushin Il-14',
 'Bristol Britannia 175',
 'Boeing - 377-10-29 Stratocruiser',
 'Short Solent 3 (flying boat)',
 'de Havilland DH-114 Heron 2D',
 'de Havilland Canada DHC-3 Otter',
 'Lockheed WV-2',
 'Douglas C-118A / Lockheed P2V-5F',
 'Airspeed Ambassador AS-57',
 'Douglas VC-47A',
 'Consolidated PBY-5A  Catalina',
 'Fairchild R4Q / Dougas AD-6 skyraider',
 'Douglas DC-7-C',
 'Douglas C-124C / Fairchild C-119C',
 'Vickers Viscount 745D',
 'Douglas DC-7 / F-100F',
 'Douglas DC-7C',
 'Vickers Viscount 745D / T-33A',
 'Convair CV-440-59',
 'Boeing KC-135A',
 'Vickers Viscount 748D',
 'Lockheed 1049H Super Constellation',
 'Convair CV-240-2',
 'Tupolev TU-104-A',

In [105]:
def tipo_transporte(x):
    word_list=['Zeppel', 'Dirigible', 'boat', 'Boat', 'amphib', 'helicopter', 'copter', 'heli']
    a=0
    for i in word_list: 
        if i in x:
            a = 1
    if a == 1:
        return 'Otro'

In [106]:
data['tipo_avion'] = data['ac_type'].apply(tipo_transporte)

In [107]:
data.loc[data[data['tipo_avion'].isnull()].index,'tipo_avion'] = data['summary'].apply(tipo_transporte)

In [108]:
data['tipo_avion'].fillna('Avión',inplace=True)

In [109]:
data

,fecha,Ruta,OperadOR,flight_no,route,ac_type,registration,all_aboard,PASAJEROS A BORDO,crew_aboard,...,crew_fatalities,ground,summary,localizar,country,lat,lon,tipo_vuelo,tipo_avion,intencional
0,1908-09-17,"Fort Myer, Virginia",Military - U.S. Army,NaN,Demonstration,Wright Flyer III,NaN,2.0,1.0,1.0,...,0.0,0.0,"During a demonstration flight, a U.S. Army fly...",Virginia,United States,37.123224,-78.492772,Militar,Avión,0
1,1909-09-07,"Juvisy-sur-Orge, France",NaN,NaN,Air show,Wright Byplane,SC1,1.0,0.0,1.0,...,0.0,0.0,Eugene Lefebvre was the first pilot to ever be...,France,France,46.603354,1.888334,Otro,Avión,0
2,1912-07-12,"Atlantic City, New Jersey",Military - U.S. Navy,NaN,Test flight,Dirigible,NaN,5.0,0.0,5.0,...,5.0,0.0,First U.S. dirigible Akron exploded just offsh...,New Jersey,United States,40.075738,-74.404162,Militar,Otro,0
3,1913-08-06,"Victoria, British Columbia, Canada",Private,NaN,NaN,Curtiss seaplane,NaN,1.0,0.0,1.0,...,1.0,0.0,The first fatal airplane accident in Canada oc...,Canada,Canada,61.066692,-107.991707,Otro,Avión,0
4,1913-09-09,North Sea,Military - German Navy,NaN,NaN,Zeppelin L-1 (airship),NaN,20.0,15.0,5.0,...,4.0,0.0,The airship flew into a thunderstorm and encou...,North Sea,Water,56.741234,2.891172,Militar,Otro,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,2021-03-28,"Butte, Alaska",Soloy Helicopters,NaN,Sightseeing Charter,Eurocopter AS350B3 Ecureuil,N351SH,6.0,5.0,1.0,...,1.0,0.0,The sightseeing helicopter crashed after missi...,Alaska,United States,64.445961,-149.680909,Otro,Otro,0
4996,2021-05-21,"Kaduna, Nigeria",Military - Nigerian Air Force,NaN,NaN,Beechcraft B300 King Air 350i,NAF203,11.0,7.0,4.0,...,4.0,0.0,"While on final approach, in poor weather condi...",Nigeria,Nigeria,9.600036,7.999972,Militar,Avión,0
4997,2021-06-10,"Pyin Oo Lwin, Myanmar",Military - Myanmar Air Force,NaN,Naypyidaw - Anisakan,Beechcraft 1900D,4610,14.0,12.0,2.0,...,1.0,0.0,The plane was carrying military personnel and ...,Myanmar,Myanmar,17.175050,95.999965,Militar,Avión,0
4998,2021-07-04,"Patikul, Sulu, Philippines",Military - Philippine Air Force,NaN,Cagayan de Oro-Lumbia - Jolo,Lockheed C-130H Hercules,5125,96.0,88.0,8.0,...,4.0,3.0,"While attempting to land at Jolo Airport, the ...",Philippines,Philippines,12.750349,122.731210,Militar,Avión,0
4999,2021-07-06,"Palana, Russia",Kamchatka Aviation Enterprise,251,Petropavlovsk - Palana,Antonov An 26B-100,RA-26085,28.0,22.0,6.0,...,6.0,0.0,The passenger plane crashed into the top of a ...,Russia,Russia,64.686314,97.745306,Comercial,Avión,0

Columna: summary

In [78]:
# Esta columna la voy a usar para detectar si hubo intencionalidad en el accidente, buscando palabras como bomb o hijack o terrorist

In [110]:
def bomb(x):
    if 'bomb' in str(x):
        return 1
    elif 'hijack' in str(x):
        return 1
    elif 'terrorist' in str(x):
        return 1       
    else:
        return 0

In [111]:
data['intencional']=0
data.loc[data[data['tipo_vuelo']=='Comercial'].index,'intencional'] = data['summary'].apply(lambda x: bomb(x))

In [112]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5000 entries, 0 to 4999
Data columns (total 22 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   fecha                   5000 non-null   datetime64[ns]
 1   Ruta                    5000 non-null   object
 2   OperadOR                5000 non-null   object
 3   flight_no               5000 non-null   object
 4   route                   5000 non-null   object
 5   ac_type                 5000 non-null   object
 6   registration            5000 non-null   object
 7   all_aboard              5000 non-null   float64
 8   PASAJEROS A BORDO       5000 non-null   float64
 9   crew_aboard             5000 non-null   float64
 10  cantidad de fallecidos  5000 non-null   float64
 11  passenger_fatalities    5000 non-null   float64
 12  crew_fatalities         5000 non-null   float64
 13  ground                  5000 non-null   float64
 14  summary                 5000 non-null   object
 15  localizar               5000 non-null   object
 16  country                 5000 non-null   object
 17  lat                     5000 non-null   float64
 18  lon                     5000 non-null   float64
 19  tipo_vuelo              5000 non-null   object
 20  tipo_avion              5000 non-null   object
 21  intencional             5000 non-null   int64
dtypes: datetime64[ns](1), float64(9), int64(1), object(11)
memory usage: 1.0+ MB

In [113]:
# Preparo el dataset para exportar con los nombres de columna normalizados; y las columnas que me interesan

data2=pd.DataFrame()
data2[[ 'fecha',
        'operador',
        'todos_abordo',
        'pasajeros_abordo',
        'tripul_abordo',
        'tot_fallecidos',
        'pasajeros_fallecidos',
        'tripul_fallecidos',
        'ground',
        'summary',
        'tipo_vuelo',
        'tipo_avion',
        'intencional',
        'pais',
        'lat',
        'lon' 
        ]] = data[[
        'fecha',
        'OperadOR',
        'all_aboard',
        'PASAJEROS A BORDO',
        'crew_aboard',
        'cantidad de fallecidos',
        'passenger_fatalities',
        'crew_fatalities',
        'ground',
        'summary',
        'tipo_vuelo',
        'tipo_avion',
        'intencional',
        'country',
        'lat',
        'lon'
        ]]

In [114]:
# data.to_csv('output_preprocessing\datos_completos.csv', index=False) esta línea esxportaría los datos completos
data2.to_csv('output_preprocessing\datos_mysql.csv', index=False) #esta sólo los datos que se ingestarán en la BD.