In [1]:
import pandas as pd

In [2]:
data= pd.read_csv('_src\API_IS.AIR.PSGR_DS2_es_csv_v2_4700777.csv')

In [3]:
data.iloc[:,4:].astype(float)

,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,Unnamed: 66
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,223502.00,2.742800e+05,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.511246e+07,3.635076e+07,39154692.0,41553429.0,45423814.08,5.261396e+07,5.485142e+07,1.925314e+07,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.044188e+06,2.209428e+06,1929907.0,1917924.0,1647425.00,1.125367e+06,1.066747e+06,4.490410e+05,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.677884e+06,8.030237e+06,8696300.0,8129874.0,8837017.00,1.233777e+07,1.138491e+07,5.528131e+06,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.321872e+06,1.409952e+06,1244491.0,1482546.0,1375523.00,1.516628e+06,1.436959e+06,3.566950e+05,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
262,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.664220e+06,1.665552e+06,443685.0,242723.0,132571.00,3.363100e+05,NaN,5.203489e+04,NaN,NaN
263,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.631125e+07,1.702664e+07,18882898.0,19744932.0,20821044.00,2.466039e+07,2.621126e+07,8.304771e+06,NaN,NaN
264,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.003200e+04,8.592000e+03,203617.0,144060.0,154573.00,1.663314e+04,1.750569e+04,8.717833e+03,NaN,NaN
265,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.515640e+05,3.012600e+05,370165.0,378803.0,282539.00,2.825390e+05,NaN,3.242265e+05,NaN,NaN

In [4]:
data.loc['Total']= data.iloc[:,4:].sum()/1000000

In [5]:
data

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,Unnamed: 66
0,Aruba,ABW,"Transporte aéreo, pasajeros transportados",IS.AIR.PSGR,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2.235020e+05,2.742800e+05,NaN,NaN,NaN,NaN
1,NaN,AFE,"Transporte aéreo, pasajeros transportados",IS.AIR.PSGR,NaN,NaN,NaN,NaN,NaN,NaN,...,3.511246e+07,3.635076e+07,3.915469e+07,4.155343e+07,4.542381e+07,5.261396e+07,5.485142e+07,1.925314e+07,NaN,NaN
2,Afganistán,AFG,"Transporte aéreo, pasajeros transportados",IS.AIR.PSGR,NaN,NaN,NaN,NaN,NaN,NaN,...,2.044188e+06,2.209428e+06,1.929907e+06,1.917924e+06,1.647425e+06,1.125367e+06,1.066747e+06,4.490410e+05,NaN,NaN
3,NaN,AFW,"Transporte aéreo, pasajeros transportados",IS.AIR.PSGR,NaN,NaN,NaN,NaN,NaN,NaN,...,8.677884e+06,8.030237e+06,8.696300e+06,8.129874e+06,8.837017e+06,1.233777e+07,1.138491e+07,5.528131e+06,NaN,NaN
4,Angola,AGO,"Transporte aéreo, pasajeros transportados",IS.AIR.PSGR,NaN,NaN,NaN,NaN,NaN,NaN,...,1.321872e+06,1.409952e+06,1.244491e+06,1.482546e+06,1.375523e+06,1.516628e+06,1.436959e+06,3.566950e+05,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
262,"Yemen, Rep. del",YEM,"Transporte aéreo, pasajeros transportados",IS.AIR.PSGR,NaN,NaN,NaN,NaN,NaN,NaN,...,1.664220e+06,1.665552e+06,4.436850e+05,2.427230e+05,1.325710e+05,3.363100e+05,NaN,5.203489e+04,NaN,NaN
263,Sudáfrica,ZAF,"Transporte aéreo, pasajeros transportados",IS.AIR.PSGR,NaN,NaN,NaN,NaN,NaN,NaN,...,1.631125e+07,1.702664e+07,1.888290e+07,1.974493e+07,2.082104e+07,2.466039e+07,2.621126e+07,8.304771e+06,NaN,NaN
264,Zambia,ZMB,"Transporte aéreo, pasajeros transportados",IS.AIR.PSGR,NaN,NaN,NaN,NaN,NaN,NaN,...,1.003200e+04,8.592000e+03,2.036170e+05,1.440600e+05,1.545730e+05,1.663314e+04,1.750569e+04,8.717833e+03,NaN,NaN
265,Zimbabwe,ZWE,"Transporte aéreo, pasajeros transportados",IS.AIR.PSGR,NaN,NaN,NaN,NaN,NaN,NaN,...,3.515640e+05,3.012600e+05,3.701650e+05,3.788030e+05,2.825390e+05,2.825390e+05,NaN,3.242265e+05,NaN,NaN
Total,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,...,2.524180e+04,2.683909e+04,2.900506e+04,3.111817e+04,3.358452e+04,3.613709e+04,3.856873e+04,1.599185e+04,0.0,0.0

In [6]:
data2=data.T

In [7]:
data2.drop(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code'], axis=0, inplace=True)

In [8]:
data3=pd.DataFrame()
data3['Total']=data2['Total']

In [9]:
data3.drop('Unnamed: 66', axis=0, inplace=True)

In [10]:
data3.rename(columns={'Total':'pasajeros[mill]'}, inplace=True)

In [11]:
data3.reset_index(inplace=True)

In [12]:
data3.rename(columns={'index':'year'}, inplace=True)

In [13]:
data3

    year pasajeros[mill]
0   1960             0.0
1   1961             0.0
2   1962             0.0
3   1963             0.0
4   1964             0.0
..   ...             ...
57  2017    33584.515662
58  2018    36137.086058
59  2019    38568.734274
60  2020    15991.848807
61  2021             0.0

[62 rows x 2 columns]

In [15]:
a=list(range([0:9]))

SyntaxError: invalid syntax (3056229657.py, line 1)

In [17]:
data3.drop([0,1,2,3,4,5,6,7,8,9,61], axis=0, inplace=True)

In [19]:
data3.to_csv('output_preprocessing\pasajeros.csv', index=False)